@font-face { 
	font-family: "FPS Signs"; 
	src: url("fonts/FPSSIGNS_B.TTF") format("truetype"); 
}
@font-face { 
	font-family: "Chrt_sym"; 
	src: url("fonts/CHRT_SYM.TTF") format("truetype"); 
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
table.No-Table-Style {
	border-color:#231f20;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
table.tableone{
	height:200px
}
d.innerb {
	height:70px
}
td.main-cells-p--1 {
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
}
td.clinic-type {
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
}
td.main-cells-p--2 {
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top:1px;
}
p.Column-Head {
	-epub-hyphens:none;
	color:#231f20;
	font-family:"Times New Roman", serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.153;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Type-of-Clinic-p-1 {
	-epub-hyphens:none;
	color:#231f20;
	font-family:"Times New Roman", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.061;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Normal-p-1 {
	-epub-hyphens:none;
	color:#231f20;
	font-family:"Times New Roman", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.061;
	margin-bottom:0px;
	margin-left:2px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-2px;
}
p.English-Chart-Symbol {
	-epub-hyphens:none;
	color:#231f20;
	font-family:"Chrt_sym", sans-serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.061;
	margin-bottom:0px;
	margin-left:2px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:-2px;
}
p.Normal-p-2 {
	-epub-hyphens:none;
	color:#231f20;
	font-family:"Times New Roman", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.053;
	margin-bottom:0px;
	margin-left:2px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-2px;
}
p.para-style-override-3 {
	-epub-hyphens:none;
	color:#231f20;
	font-family:FPSCaslon, serif;
	font-size:9px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Type-of-Clinic-p--2 {
	-epub-hyphens:none;
	color:#231f20;
	font-family:"Times New Roman", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.053;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Caption-with-line-above {
	-epub-hyphens:none;
	color:#231f20;
	font-family:FPSCaslon, serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:0px;
	margin-left:6px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:-6px;
}
p.Emergency {
	-epub-hyphens:none;
	color:#231f20;
	font-family:"Times New Roman", serif;
	font-size:12px;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:0px;
	margin-left:5px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.Odds-and-Ends-heading {
	-epub-hyphens:none;
	color:#231f20;
	font-family:"Times New Roman", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.053;
	margin-bottom:0px;
	margin-left:2px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:-2px;
}
p.oddsAndEnds {
	-epub-hyphens:none;
	color:#231f20;
	font-family:"Times New Roman", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.053;
	margin-bottom:0px;
	margin-left:2px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:-2px;
}
p.Chart-Title {
	-epub-hyphens:none;
	color:#231f20;
	font-family:FPSCaslon, serif;
	font-size:17px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:0px;
	margin-left:6px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:-6px;
}
p.Legend {
	color:#231f20;
	font-family:"Times New Roman", serif;
	font-size:10px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
span.drop-in {
	font-style:normal;
	font-weight:bold;
}
span.Name {
	color:#231f20;
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-decoration:none;
}
span.default-small-caps {
	font-variant:small-caps;
}
span.ADA {
	font-family:"FPS Signs", sans-serif;
	font-style:normal;
	font-weight:normal;
}
span.address {
	color:#231f20;
	font-family:"Times New Roman", serif;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-decoration:none;
}
span.Legend-Chart-Symbols {
	font-family:"Chrt_sym", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
table.table-style-override-1 {
	border-width:0.5px;
}
td.cell-style-override-1 {
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
p.para-style-override-1 {
	font-family:"Times New Roman", serif;
	font-size:13px; font-style:normal;
	font-weight:normal;
}
p.para-style-override-2 {
	margin-left:0px;
}
span.char-style-override-1 {
	font-family:"Times New Roman", serif;
	font-size:13px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-2 {
	font-family:"Chrt_sym", sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-3 {
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-4 {
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.char-style-override-5 {
	font-size:10px;
}
col.Row-Column-1 {
	width:10px;
}
col.Row-Column-2 {
	width:403px;
}
tr.Row-Column-3 {
	min-height:10px;
}
tr.Row-Column-4 {
	min-height:31px;
}
tr.Row-Column-5 {
	min-height:52px;
}
tr.Row-Column-6 {
	min-height:42px;
}
tr.Row-Column-7 {
	min-height:21px;
}
tr.Row-Column-8 {
	min-height:63px;
}
tr.Row-Column-9 {
	min-height:30px;
}
tr.Row-Column-10 {
	min-height:40px;
}
tr.Row-Column-11 {
	min-height:50px;
}
tr.Row-Column-12 {
	min-height:60px;
}
tr.Row-Column-13 {
	min-height:70px;
}
